.welcome-container {
    display: flex;
    align-items: center;
    height: 100vh; 
    padding: 0 20px;
}

.welcome-container img {
    height: 80vh;

}

.welcome h1 {
    font-size: 40px;
    color: rgb(128, 89, 43);
}

.welcome-text {
    text-align: center; 
    width: 400px;
}



/* boton */
.buttons {
    position: fixed; 
    bottom: 50px; /* Posición 20px desde el borde inferior */
    right: 50px; /* Posición 20px desde el borde derecho */
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    margin-left: auto; 
  }
  
  .buttons a {
    margin-top: 10px; /* Espacio entre los botones */
    font-size: 24px; /* Tamaño de fuente más grande para el botón */
    padding: 20px 30px; /* Aumentar el padding para hacer el botón más grande */
  }

.buttons a {
    margin-top: 10px; /* Espacio entre los botones */
}

.button-57 {
  position: relative;
  overflow: hidden;
  border: 2px solid rgb(87, 60, 27);
  border-radius: 8px;
  color: #18181a;
  display: inline-block;
  font-size: 15px;
  line-height: 15px;
  padding: 18px 18px 17px;
  text-decoration: none;
  cursor: pointer;
  background: #fff;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-57 span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}

.button-57 span:last-child {
  color: white;
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 14px;
  line-height: 13px;
}

.button-57:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(209, 149, 75);
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}

.button-57:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

.button-57:hover span:last-child {
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}

@media screen and (max-width: 768px) {
  .welcome-container {
    flex-direction: column;
  margin-bottom: 40px;
  }
}

@media screen and (max-width: 440px) {
  .welcome-container {
  margin-bottom: 100px;
  }
 .welcome-container img{ 
  margin-left: auto;
  
 }

  .welcome-text {
    width: 250px;
}
}