.farewell-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 50px 0px;
    gap: 25px;
  }
  
  .farewell-container div {
    max-width: 50%;
    padding-right: 20px;
    text-align: center;
  }
  
  .farewell-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: rgb(128, 89, 43);
  }
  
  .farewell-container p {
    font-size: 18px;
    line-height: 1.5;
    color: rgb(128, 89, 43);
  }
  
 
  @media screen and (max-width: 746px){
    .farewell-container{
      flex-direction: column;
    }
    .farewell-container img {
      width: auto;
    }
  }